[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
blackcellmagic = "*"
pylint = "*"
black = "*"
nbstripout = "*"

[packages]
jupyter = "*"
peewee = "*"
nltk = "*"
jupyter-contrib-nbextensions = "*"
ipython = "*"
python-datauri = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
